@page "/demoHotel"
@using Model


<h1>ホテルの部屋とアメニティです！</h1>
<div class="border p-2 mt-2" style="background-color:azure">
    @*m=マージン、mt=マージントップ、style="background-color:azureは薄い水色"*@
    <h2 class="text-info">部屋一覧 [USING COMPONENT]</h2>
    <div class="row container">
        @*row container=列*@
        @foreach (var room in RoomsList) @*roomがBlazorRoom*@
        {
        <div class="bg-light border p-2 col-5">
            @*bg-light=背景色、border=線、p-2=パディング,col-5=色（グレー）*@
            <h4 class="text-secondary">部屋 - @room.Id</h4>　@*text-secondary＝文字の色（グレー）*@

            @room.RoomName<br />
            @room.Price.ToString("c")<br />　　@*.ToString("c")=\*@
            <input type="checkbox" @bind-value="room.IsActive"　checked="@(room.IsActive?"checked":null)" /> &nbsp;有効<br />
            <span>こちらの部屋は @(room.IsActive?"有効":"無効")</span>

            @if (room.IsActive)@*Trueの場合*@
            {
                @foreach (var roomProp in room.RoomProps)@*BlazorRoomのBlazorRoomPropリストの中から取り出す*@
                {
                    <p>@roomProp.Name：@roomProp.Value</p>
                }
            }
            <br />
            <input type="button" class="btn btn-danger" value="削除" />
            <input type="button" class="btn btn-success" value="編集" />
        </div>
        }
    </div>
</div>


@code{


    List<BlazorRoom> RoomsList = new List<BlazorRoom>();



    protected override void OnInitialized()　@*OnInitializedメソッドをオーバーライドする(基底クラスのcomponentBaseに実装されているメソッドでオーバーライドで実装して使用する)*@
    {
        base.OnInitialized();　　　　@*baseは派生クラスから基底クラスのメソッドにアクセスするためにつかう*@

        RoomsList.Add(new BlazorRoom() @*モデルクラスをインスタンス化して、プロパティに値を代入*@
        {
            Id = 201, @*インスタンス化と同時にプロパティに値をセット（本来はインスタンスの変数名.プロパティ名）*@
            RoomName = "シングルベッドルーム",
            Price = 399,
            IsActive = true,
            RoomProps = new List<BlazorRoomProp> @*リスト型のプロパティはリストをインスタンス化を作成して、複数のオブジェクトを代入していく*@
                         {
                         new Model.BlazorRoomProp{Id=1,Name="平方フィート",Value="330"},
                         new Model.BlazorRoomProp{Id=2,Name="占有率",Value="4"},

                         }
                        });

                        RoomsList.Add(new BlazorRoom() @*モデルクラスをインスタンス化して、プロパティに値を代入*@
                        {
                            Id = 301, @*インスタンス化と同時にプロパティに値をセット（本来はインスタンスの変数名.プロパティ名）*@
                            RoomName = "ダブルベッドルーム",
                            Price = 699,
                            IsActive = true,
                            RoomProps = new List<BlazorRoomProp> @*リスト型のプロパティはリストをインスタンス化を作成して、複数のオブジェクトを代入していく*@
                                                                                            {
                           new Model.BlazorRoomProp{Id=1,Name="平方フィート",Value="150"},
                           new Model.BlazorRoomProp{Id=2,Name="占有率",Value="6"},

                          }
                                        });
                                    }
}

