@using HiddenVilla_Server.Model


<div class="bg-light border p-2 col-5 offset-1">
    @*bg-light=背景色、border=線、p-2=パディング,col-5=色（グレー）*@
    <h4 class="text-secondary">部屋 - @Room.Id</h4>　@*text-secondary＝文字の色（グレー）*@

    @Room.RoomName<br />
    @Room.Price.ToString("c")<br />　　@*.ToString("c")=\*@
    <input type="checkbox" @bind-value="Room.IsActive" 　checked="@(Room.IsActive?"checked":null)" /> &nbsp;有効<br />
    <span>こちらの部屋は @(Room.IsActive?"有効":"無効")</span>

    @if (Room.IsActive)@*Trueの場合*@
    {
        @foreach (var roomProp in Room.RoomProps)@*BlazorRoomのBlazorRoomPropリストの中から取り出す*@
        {
            <p>@roomProp.Name：@roomProp.Value</p>
        }
     }

      <EditDeleteButton IsAdmin="false"></EditDeleteButton>  @*IsAdminはEditDleteButton.razor　falseだと表示されない*@

</div>

@code {

    [Parameter]
    public BlazorRoom Room { get; set; }  @*クラス型のプロパティ*@
}
